{% extends "Frame/RevivedWitch_WebService_BaseFrame.html" %}
{% block head %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}

{% block content %}

    <input type="button" class="btn btn-sm btn-outline-secondary" id="gacha_10"
           style="font-family: 'Jua', sans-serif; font-size: large; margin-left: 8px; margin-bottom: 5px"
           value="10회" data-gacha-amount="10">

{#    <script>#}
{#        $("#gacha_10").click(function () {#}
{#            $.ajax({#}
{#                url : #}
{#            })#}
{#        })#}
{#    </script>#}


{% endblock %}